In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("./data/train.csv")

In [3]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [4]:
from nltk.corpus import stopwords

In [5]:
train.Browser_Used.value_counts()

Firefox              7367
Edge                 7134
Google Chrome        4659
InternetExplorer     4588
Mozilla Firefox      4328
Mozilla              3092
Chrome               2470
IE                   2439
Internet Explorer    2103
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [6]:
#found error in data collection as most browsers with same name has been used again with different ID . we need to merge it.
print("data-type :",type(train.Browser_Used.value_counts()))
browsers = train.Browser_Used.value_counts().index
print("data-type of browsers :",type(browsers))
print("Name of Browsers :")
for i in browsers:
    print(i)

data-type : <class 'pandas.core.series.Series'>
data-type of browsers : <class 'pandas.core.indexes.base.Index'>
Name of Browsers :
Firefox
Edge
Google Chrome
InternetExplorer
Mozilla Firefox
Mozilla
Chrome
IE
Internet Explorer
Safari
Opera

In [7]:
#function to clean the dataframe of reused browser names
train["Browser_Used"] = train["Browser_Used"].str.replace('Mozilla Firefox', 'Firefox')
train["Browser_Used"] = train["Browser_Used"].str.replace('Mozilla','Firefox')
train["Browser_Used"] = train["Browser_Used"].str.replace('Internet Explorer', 'InternetExplorer')
train["Browser_Used"] = train["Browser_Used"].str.replace('IE', 'InternetExplorer')
train["Browser_Used"] = train["Browser_Used"].str.replace('Google Chrome', 'Chrome')
print("browsers managed...........")

browsers managed...........