In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("./data/train.csv")

In [3]:
train.head()

,User_ID,Description,Browser_Used,Device_Used,Is_Response
0,id10326,The room was kind of clean but had a VERY stro...,Edge,Mobile,not happy
1,id10327,I stayed at the Crown Plaza April -- - April -...,Internet Explorer,Mobile,not happy
2,id10328,I booked this hotel through Hotwire at the low...,Mozilla,Tablet,not happy
3,id10329,Stayed here with husband and sons on the way t...,InternetExplorer,Desktop,happy
4,id10330,My girlfriends and I stayed here to celebrate ...,Edge,Tablet,not happy

In [4]:
from nltk.corpus import stopwords

In [5]:
train.Browser_Used.value_counts(dropna=False)

Firefox              7367
Edge                 7134
Google Chrome        4659
InternetExplorer     4588
Mozilla Firefox      4328
Mozilla              3092
Chrome               2470
IE                   2439
Internet Explorer    2103
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [6]:
#found error in data collection as most browsers with same name has been used again with different ID . we need to merge it.
print("data-type :",type(train.Browser_Used.value_counts()))
browsers = train.Browser_Used.value_counts().index
print("data-type of browsers :",type(browsers))
print("Name of Browsers :")
for i in browsers:
    print(i)

data-type : <class 'pandas.core.series.Series'>
data-type of browsers : <class 'pandas.core.indexes.base.Index'>
Name of Browsers :
Firefox
Edge
Google Chrome
InternetExplorer
Mozilla Firefox
Mozilla
Chrome
IE
Internet Explorer
Safari
Opera

In [7]:
#function to clean the dataframe of reused browser names
train["Browser_Used"] = train["Browser_Used"].str.replace('Mozilla Firefox', 'Firefox')
train["Browser_Used"] = train["Browser_Used"].str.replace('Mozilla','Firefox')
train["Browser_Used"] = train["Browser_Used"].str.replace('Internet Explorer', 'InternetExplorer')
train["Browser_Used"] = train["Browser_Used"].str.replace('IE', 'InternetExplorer')
train["Browser_Used"] = train["Browser_Used"].str.replace('Google Chrome', 'Chrome')
print("browsers managed...........")

browsers managed...........

In [8]:
train.Browser_Used.value_counts(dropna=False)

Firefox             14787
InternetExplorer     9130
Edge                 7134
Chrome               7129
Safari                390
Opera                 362
Name: Browser_Used, dtype: int64

In [9]:
train.Is_Response.value_counts(dropna=False)

happy        26521
not happy    12411
Name: Is_Response, dtype: int64

In [10]:
train.groupby(['Browser_Used','Is_Response'])['Is_Response'].count()

Browser_Used      Is_Response
Chrome            happy          6138
                  not happy       991
Edge              happy          3218
                  not happy      3916
Firefox           happy          8729
                  not happy      6058
InternetExplorer  happy          7911
                  not happy      1219
Opera             happy           241
                  not happy       121
Safari            happy           284
                  not happy       106
Name: Is_Response, dtype: int64

In [11]:
train.groupby(['Device_Used','Is_Response'])['Is_Response'].count()

Device_Used  Is_Response
Desktop      happy          10595
             not happy       4431
Mobile       happy          10602
             not happy       4374
Tablet       happy           5324
             not happy       3606
Name: Is_Response, dtype: int64

In [12]:
train.groupby(['Browser_Used','Device_Used','Is_Response'])['Is_Response'].count()

Browser_Used      Device_Used  Is_Response
Chrome            Desktop      happy          2436
                               not happy       372
                  Mobile       happy          2450
                               not happy       332
                  Tablet       happy          1252
                               not happy       287
Edge              Desktop      happy          1310
                               not happy      1397
                  Mobile       happy          1243
                               not happy      1394
                  Tablet       happy           665
                               not happy      1125
Firefox           Desktop      happy          3490
                               not happy      2164
                  Mobile       happy          3564
                               not happy      2117
                  Tablet       happy          1675
                               not happy      1777
InternetExplorer  Desktop      happy          3138
                               not happy       423
                  Mobile       happy          3153
                               not happy       443
                  Tablet       happy          1620
                               not happy       353
Opera             Desktop      happy            99
                               not happy        43
                  Mobile       happy            95
                               not happy        45
                  Tablet       happy            47
                               not happy        33
Safari            Desktop      happy           122
                               not happy        32
                  Mobile       happy            97
                               not happy        43
                  Tablet       happy            65
                               not happy        31
Name: Is_Response, dtype: int64

In [13]:
#using only the comments to train the model
df = train.drop(['Device_Used','Browser_Used'],axis=1)
df.head()

   User_ID                                        Description Is_Response
0  id10326  The room was kind of clean but had a VERY stro...   not happy
1  id10327  I stayed at the Crown Plaza April -- - April -...   not happy
2  id10328  I booked this hotel through Hotwire at the low...   not happy
3  id10329  Stayed here with husband and sons on the way t...       happy
4  id10330  My girlfriends and I stayed here to celebrate ...   not happy

In [14]:
import nltk
import re
from bs4 import BeautifulSoup
from nltk.corpus import stopwords

In [15]:
def review_to_words(raw_review):
    review_text = BeautifulSoup(raw_review,'html.parser').get_text() 
    letters_only = re.sub("[^a-zA-Z]", " ", review_text)
    words = letters_only.lower().split()
    stops = set(stopwords.words("english"))
    meaningful_words = [w for w in words if not w in stops]
    return( " ".join( meaningful_words ))

In [16]:
clean_review = review_to_words(train["Description"][0])
print(clean_review)

room kind clean strong smell dogs generally average ok overnight stay fussy would consider staying price right breakfast free better nothing

In [17]:
num_reviews = df["Description"].size
clean_train_reviews = []
for i in range( 0, num_reviews ):
    clean_train_reviews.append(review_to_words(df["Description"][i]))

In [18]:
print("Creating bag of words model")
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer = 'word',
                            tokenizer = None,
                            preprocessor = None,
                            stop_words = None,
                            max_features = 1000)

train_data_features = vectorizer.fit_transform(clean_train_reviews)
train_data_features = train_data_features.toarray()

Creating bag of words model

In [19]:
print(train_data_features.shape)

(38932, 1000)

In [20]:
vocab = vectorizer.get_feature_names()
print(vocab[0:20])

['able', 'absolutely', 'ac', 'access', 'accommodating', 'across', 'actually', 'added', 'addition', 'additional', 'adequate', 'afternoon', 'ago', 'air', 'airport', 'allowed', 'almost', 'along', 'already', 'also']

In [21]:
import numpy as np
dist = np.sum(train_data_features,axis=0)
for tag,count in zip(vocab,dist):
    print(count,tag)

2612 able
1388 absolutely
627 ac
2568 access
871 accommodating
3302 across
1993 actually
614 added
523 addition
541 additional
1003 adequate
816 afternoon
692 ago
2256 air
3705 airport
602 allowed
1552 almost
1220 along
1093 already
12001 also
3361 although
4586 always
2428 amazing
1988 amenities
551 amount
618 anniversary
4092 another
552 antonio
1733 anyone
2264 anything
798 anyway
1175 anywhere
1078 appointed
679 appreciated
10491 area
1387 areas
6794 around
1489 arrival
3805 arrived
540 art
2196 ask
3960 asked
585 asking
1021 ate
777 atmosphere
600 attention
853 attentive
539 attitude
1302 attractions
3042 available
896 ave
1034 avenue
1527 average
679 avoid
5787 away
1238 awesome
9427 back
3322 bad
577 bag
551 bagels
1296 bags
813 balcony
6304 bar
1022 bars
810 based
988 basic
1583 bath
8992 bathroom
1428 bathrooms
966 bay
932 beach
851 beat
3254 beautiful
11004 bed
649 bedding
1748 bedroom
5625 beds
515 beer
838 behind
1014 believe
739 bell
5329 best
4867 better
724 beyond
4146 big
551 bigger
886 bill
847 birthday
4966 bit
2470 block
3072 blocks
520 bonus
1556 book
4772 booked
1169 booking
1749 boston
676 bother
750 bottle
827 boutique
638 brand
13959 breakfast
1075 bring
765 broadway
824 broken
1043 brought
800 budget
1608 buffet
3109 building
1607 bus
5020 business
1763 busy
1324 cab
1076 cable
826 cafe
2558 call
3582 called
2834 came
931 cannot
4554 car
1593 card
1497 care
1260 carpet
619 cars
691 case
612 ceiling
3508 center
2610 central
783 centre
552 cereal
1295 certainly
738 chain
820 chair
724 chairs
1123 change
699 changed
533 channels
2310 charge
1091 charged
610 charges
1359 cheap
614 cheaper
8572 check
3353 checked
1295 checking
569 checkout
606 cheese
2194 chicago
1033 children
1789 choice
614 choices
830 choose
1108 chose
6177 city
718 class
16071 clean
1139 cleaned
987 cleaning
595 cleanliness
536 clearly
968 clerk
6405 close
988 closed
1105 closet
1695 club
5240 coffee
1534 cold
2900 come
719 comfort
10111 comfortable
1454 comfy
1315 coming
585 common
594 company
582 compared
636 complain
1163 complaint
838 complaints
514 complete
834 completely
1942 complimentary
745 computer
2767 concierge
550 conditioner
668 conditioning
1705 conference
668 consider
747 considering
813 construction
1313 continental
2678 convenient
1373 convention
628 cookies
1433 cool
2369 corner
1519 cost
10573 could
556 counter
2453 couple
1065 course
1037 courteous
729 courtyard
524 cozy
956 credit
629 crowded
1633 customer
822 daily
532 dallas
1280 dark
918 dated
1113 daughter
10699 day
3673 days
1029 dc
2288 deal
1826 decent
1670 decided
1838 decor
1104 decorated
602 definately
4863 definitely
862 delicious
609 delivered
604 design
11490 desk
862 despite
656 didnt
1303 diego
1960 different
628 difficult
1343 dining
2426 dinner
795 directions
992 directly
1664 dirty
1478 disappointed
517 discount
3558 distance
1105 district
650 dollars
1288 done
517 dont
5907 door
541 doorman
1263 doors
1949 double
523 downside
947 downstairs
4361 downtown
1018 drink
1497 drinks
1137 drive
546 driver
1705 due
2848 early
957 easily
659 east
3780 easy
2211 eat
576 eating
1099 efficient
899 eggs
1688 either
2338 elevator
1725 elevators
2035 else
665 elsewhere
773 empire
649 employees
573 encountered
2292 end
997 ended
1456 enjoy
543 enjoyable
2753 enjoyed
3979 enough
1261 entire
905 entrance
2493 especially
3629 etc
8736 even
2518 evening
573 event
2974 ever
4848 every
1888 everyone
5521 everything
975 everywhere
534 exactly
5784 excellent
887 except
571 exceptional
2275 expect
779 expectations
1594 expected
564 expecting
2453 expensive
4511 experience
589 experienced
2490 extra
2991 extremely
949 fabulous
1012 facilities
641 facility
755 facing
1477 fact
907 fairly
570 families
3213 family
679 fan
2397 fantastic
2326 far
1016 fast
550 fault
620 favorite
800 fee
3357 feel
622 feeling
550 feet
2700 felt
910 fi
1299 finally
4346 find
2893 fine
558 fire
7279 first
529 fit
1010 fitness
1012 five
543 fixed
1398 flat
1312 flight
8999 floor
1227 floors
6024 food
585 forward
4977 found
2060 four
1494 francisco
9203 free
1549 fresh
577 friday
1716 fridge
990 friend
10889 friendly
1581 friends
10003 front
1093 fruit
2817 full
1480 fun
517 furnishings
1151 furniture
662 future
653 game
1023 garage
586 garden
2218 gave
704 general
530 generally
13366 get
2180 getting
2017 give
2367 given
593 glad
895 glass
7410 go
3989 going
19111 good
556 gorgeous
7467 got
1178 grand
25780 great
963 greeted
947 group
900 guess
1899 guest
2965 guests
787 guy
1243 gym
787 hair
1358 half
915 hall
797 hallway
698 hallways
578 hampton
646 hand
527 happened
2292 happy
752 harbor
1833 hard
932 head
2158 hear
1205 heard
809 heart
599 heat
2329 help
874 helped
8663 helpful
2863 high
847 higher
2016 highly
560 hill
2130 hilton
586 historic
1364 holiday
783 hollywood
2373 home
658 hope
705 horrible
3372 hot
72487 hotel
7104 hotels
522 hotwire
2536 hour
2245 hours
1416 house
2027 housekeeping
4692 however
2366 huge
2732 husband
1247 hyatt
999 ice
533 idea
647 ideal
963 immediately
639 important
1139 impressed
1869 included
1464 including
630 incredibly
602 information
575 informed
3136 inn
1058 inside
1248 instead
569 interesting
3936 internet
1523 issue
1044 issues
954 items
1000 job
646 juice
662 july
1358 keep
1566 kept
1069 key
2259 kids
548 kimpton
1785 kind
2662 king
1339 kitchen
877 knew
3214 know
1341 la
700 lack
761 lady
5413 large
797 larger
2993 last
2501 late
1677 later
1665 least
1596 leave
689 leaving
3227 left
2048 less
1769 let
1512 level
548 life
1750 light
585 lighting
548 lights
11052 like
1274 liked
719 limited
2051 line
709 linens
519 lines
711 literally
7402 little
791 live
1088 living
7711 lobby
1064 local
3812 located
18652 location
3444 long
663 longer
2442 look
2519 looked
3147 looking
876 looks
4035 lot
2409 lots
1566 loud
1815 lounge
1838 love
2912 loved
2359 lovely
866 low
713 lower
1599 luggage
752 lunch
521 luxurious
854 luxury
837 machine
531 machines
5655 made
582 maid
1564 main
624 maintained
1091 major
4583 make
839 maker
1064 makes
1306 making
1080 mall
832 man
1046 management
2564 manager
1156 manhattan
5354 many
1270 market
1779 marriott
541 matter
613 mattress
2040 may
1325 maybe
725 meal
887 meeting
1124 member
673 members
708 mention
878 mentioned
883 menu
734 met
1229 metro
608 michigan
1174 microwave
578 mid
1185 middle
537 midtown
1471 might
861 mile
749 min
941 mind
1190 mini
598 minor
705 mins
2299 minute
4486 minutes
2436 modern
628 moment
2709 money
570 months
5225 morning
1144 motel
958 move
944 moved
6747 much
586 museum
826 music
1587 must
1247 name
950 nd
2945 near
2063 nearby
4282 need
3008 needed
1633 needs
962 negative
1152 neighborhood
5069 never
7192 new
7826 next
18531 nice
1166 nicely
730 nicer
16231 night
6018 nights
4449 noise
1744 noisy
1124 non
608 none
542 normal
892 north
985 note
3032 nothing
779 noticed
1210 number
1462 ny
3537 nyc
554 obviously
1608 offer
1955 offered
673 offers
726 office
795 often
750 oh
2463 ok
799 okay
4809 old
957 older
610 omni
19125 one
535 ones
752 online
2473 open
754 opened
728 option
1008 options
1272 order
719 ordered
1321 others
788 otherwise
546 outdoor
3314 outside
826 outstanding
4034 overall
645 overlooking
608 overnight
575 package
2275 paid
719 paper
4456 park
7605 parking
2179 part
629 particularly
1038 party
574 pass
1166 past
2692 pay
911 paying
6035 people
2421 per
3825 perfect
717 perfectly
604 perhaps
2009 person
582 personal
1735 phone
814 pick
610 picked
536 pier
1649 pillows
526 pizza
10319 place
2262 places
775 plan
822 plaza
2430 pleasant
551 pleasantly
670 please
1004 pleased
517 pleasure
2092 plenty
2175 plus
2574 pm
1279 point
859 points
896 polite
5967 pool
1058 poor
732 positive
671 possible
515 prepared
669 pressure
3190 pretty
875 previous
6394 price
1018 priced
962 priceline
1144 prices
786 pricey
579 prior
1996 probably
3362 problem
1488 problems
1139 professional
522 properties
2732 property
758 provide
1568 provided
1159 public
2324 put
2018 quality
1348 queen
547 questions
1697 quick
1014 quickly
3951 quiet
4237 quite
3377 rate
979 rates
1453 rather
713 rd
1379 read
856 reading
1793 ready
1239 real
9731 really
943 reason
1469 reasonable
657 reasonably
1273 received
1542 recently
2440 reception
5751 recommend
875 recommended
739 red
755 refrigerator
587 regular
528 relax
626 relaxing
560 remember
938 renovated
565 renovation
1156 request
1199 requested
1668 reservation
855 reservations
585 reserved
873 resort
1009 rest
6617 restaurant
5080 restaurants
2401 return
1488 returned
575 returning
1128 review
3177 reviews
1023 ride
6897 right
533 ritz
1137 river
659 riverwalk
1101 road
665 roof
517 rooftop
62555 room
20318 rooms
1031 rude
1203 run
672 running
2389 safe
4048 said
3874 san
809 saturday
1241 saw
3827 say
552 saying
1271 screen
1231 seattle
2195 second
961 security
4377 see
642 seeing
1071 seem
2410 seemed
1087 seems
1024 seen
796 selection
616 self
748 sent
839 separate
853 served
14969 service
782 services
1228 set
2578 several
741 sf
1093 sheets
838 sheraton
849 shop
2829 shopping
1316 shops
2468 short
982 show
4869 shower
2423 shuttle
3084 side
563 sightseeing
751 sign
525 simple
716 simply
3196 since
806 single
1214 sink
796 sit
1276 site
844 sitting
520 situation
3579 size
1046 sized
3031 sleep
788 sleeping
951 slept
645 slightly
1163 slow
10063 small
760 smaller
1121 smell
660 smelled
567 smile
577 smoke
958 smoking
782 snacks
782 sofa
647 soft
1847 someone
2216 something
535 sometimes
610 somewhat
858 somewhere
801 son
828 soon
574 sort
772 sound
671 south
1118 spa
2471 space
3253 spacious
1844 special
1335 spend
1888 spent
858 spot
557 spotless
5045 square
1811 st
24566 staff
1782 standard
747 standards
1992 star
1021 starbucks
636 stars
1119 start
680 started
1146 state
2346 station
26578 stay
16716 stayed
4586 staying
3535 still
1433 stop
1008 store
6873 street
523 streets
660 stuff
1116 style
2474 subway
3867 suite
1562 suites
647 sunday
1589 super
577 superb
3545 sure
733 surprise
1173 surprised
871 system
1158 table
4141 take
797 taken
560 takes
923 taking
1190 taxi
1207 tea
1137 tell
809 terrible
525 terrific
6440 th
1094 thank
936 thanks
789 thin
3137 thing
2966 things
3547 think
666 third
4462 though
2286 thought
2374 three
799 throughout
12496 time
6077 times
1357 tiny
834 tip
925 tired
1339 toilet
709 toiletries
4468 told
3715 took
2883 top
575 totally
1182 touch
888 tour
765 tourist
2364 towels
911 tower
2340 town
996 traffic
1041 train
710 transportation
1917 travel
598 travelers
956 traveling
644 treated
1319 tried
5082 trip
571 true
708 truly
2107 try
1094 trying
1812 tub
1020 turn
1001 turned
4041 tv
1009 twice
8477 two
868 type
810 typical
539 uncomfortable
627 understand
828 unfortunately
1525 union
640 unit
881 unless
707 updated
1153 upgrade
1397 upgraded
2042 upon
15860 us
4414 use
2814 used
987 using
606 usual
1040 usually
940 vacation
2598 valet
2604 value
531 variety
595 via
6476 view
1732 views
3016 visit
589 visited
934 visiting
2270 wait
636 waited
1174 waiting
7956 walk
2016 walked
5186 walking
1536 wall
1390 walls
4670 want
2883 wanted
1330 warm
619 washington
776 watch
4521 water
5240 way
547 weather
1128 website
955 wedding
2257 week
3442 weekend
613 weeks
990 welcome
819 welcoming
10762 well
5158 went
748 west
1177 westin
843 wharf
864 white
1375 whole
907 wi
1941 wife
1769 wifi
1910 window
1469 windows
1956 wine
862 wireless
782 wish
3623 within
2376 without
3933 wonderful
3503 work
1587 worked
1572 working
1157 world
708 worn
942 worst
2418 worth
22150 would
980 wrong
2302 year
1825 years
1432 yes
1104 yet
3305 york
859 young

In [22]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators = 100)
forest = forest.fit(train_data_features,df['Is_Response'])

In [23]:
test = pd.read_csv('./data/test.csv')
test.head()

,User_ID,Description,Browser_Used,Device_Used
0,id80132,Looking for a motel in close proximity to TV t...,Firefox,Mobile
1,id80133,Walking distance to Madison Square Garden and ...,InternetExplorer,Desktop
2,id80134,Visited Seattle on business. Spent - nights in...,IE,Tablet
3,id80135,This hotel location is excellent and the rooms...,Edge,Mobile
4,id80136,This hotel is awesome I love the service Antho...,Mozilla,Mobile

In [24]:
df = test.drop(['Browser_Used','Device_Used'],axis=1)
df.head()

   User_ID                                        Description
0  id80132  Looking for a motel in close proximity to TV t...
1  id80133  Walking distance to Madison Square Garden and ...
2  id80134  Visited Seattle on business. Spent - nights in...
3  id80135  This hotel location is excellent and the rooms...
4  id80136  This hotel is awesome I love the service Antho...

In [25]:
num_reviews = len(test.Description)
clean_test_reviews = []

for i in range(0,num_reviews):
    clean_review = review_to_words( test["Description"][i] )
    clean_test_reviews.append(clean_review)
    
test_data_features = vectorizer.transform(clean_test_reviews)
test_data_features = test_data_features.toarray()

result = forest.predict(test_data_features)

In [28]:
output1 = test.drop(['Description','Browser_Used','Device_Used'],axis=1)
output1.head()

   User_ID
0  id80132
1  id80133
2  id80134
3  id80135
4  id80136

In [29]:
output1['Is_Response'] = pd.Series(result)
output1.head()

   User_ID Is_Response
0  id80132   not happy
1  id80133       happy
2  id80134       happy
3  id80135       happy
4  id80136       happy

In [32]:
output1.to_csv('./output/submit.csv',index=False,quoting=3)